<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NeoLine</title>
</head>

<body>
    <article class="container">
        <section class="summary">
            <header>
                <img src="/assets/images/neoline.png" alt="logo">
                <a href="https://chrome.google.com/webstore/detail/neoline/cphhlgmgameodnhkjdmkpanlelnlohao"
                    target="_blank">获取 Chrome 插件</a>
            </header>
            <div class="content">
                <img src="/assets/images/neoline-full.png" class="logo" alt="logo">
                <ul class="download-group">
                    <li>
                        <ul class="subitem">
                            <li>
                                <a href="https://itunes.apple.com/cn/app/id1484779135?mt=8" target="_blank">
                                    <img src="/assets/images/ios.png" alt="ios">
                                    <div>
                                        <span>Download on the</span>
                                        苹果商店
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://testflight.apple.com/join/9MloO2jC" target="_blank">
                                    <img src="/assets/images/testflight.svg" alt="ios">
                                    <div>
                                        <span>TestFlight</span>
                                        公测版下载
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="subitem">
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=com.neoline.app"
                                    class="google-play" target="_blank">
                                    <span>GET IT ON</span>
                                    <img src="/assets/images/google_play.jpg" alt="andriod">
                                </a>
                            </li>
                            <li>
                                <a href="https://neoline.oss-cn-hongkong.aliyuncs.com/downloads/NeoLine.apk">
                                    <img src="/assets/images/android.png" alt="andriod">
                                    <div>
                                        下载安装包
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="qrcode">
                        <img src="/assets/images/qrcode.svg" alt="">
                        <div class="download-qrcode">
                            <img src="/assets/images/android-qrcode-download.png" alt="">
                            <p>扫码直接下载</p>
                        </div>
                    </li>
                </ul>
                <ul class="mobile android">
                    <li class="android-google google-play">
                        <span>GET IT ON</span>
                        <img src="/assets/images/google_play.jpg" alt="andriod">
                    </li>
                    <li class="android-package">
                        <img src="/assets/images/android.png" alt="andriod">
                        <div>
                            下载安装包
                        </div>
                    </li>
                </ul>
                <ul class="mobile ios">
                    <li class="ios-store">
                        <img src="/assets/images/ios.png" alt="ios">
                        <div>
                            <span>Download on the</span>
                            苹果商店
                        </div>
                    </li>
                    <li class="ios-testflight">
                        <img src="/assets/images/testflight.svg" alt="ios">
                        <div>
                            <span>TestFlight</span>
                            公测版下载
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="asset">
            <div class="left">
                <p class="title">资产交易，一目了然</p>
                <div class="line"></div>
                <p class="desc">交易简单，实时跟踪交易动向</p>
                <ul class="toggle-group">
                    <li class="preview prohibited"><img src="/assets/images/back.png" alt=""></li>
                    <li class="next"><img src="/assets/images/back.png" alt=""></li>
                </ul>
            </div>
            <img src="/assets/images/asset1.png" class="asset1 asset" alt="">
            <img src="/assets/images/asset2.png" class="asset2 asset" alt="">
            <img src="/assets/images/asset3.png" class="asset3 asset" alt="">
            <div class="bg"></div>
        </section>
        <section class="wallet">
            <img src="/assets/images/wallet-bg-left.png" class="bg-left" alt="">
            <div class="content">
                <div class="right">
                    <p class="title">多钱包管理，专业智能</p>
                    <div class="line"></div>
                    <p class="detail">支持多钱包，轻松导入导出</p>
                    <p class="detail">创建钱包，一步到位</p>
                    <img src="/assets/images/wallet-list.png" alt="">
                </div>
            </div>
            <img src="/assets/images/wallet-bg-right.png" class="bg-right" alt="">
        </section>
        <section class="wallet-mobile">
            <div class="right">
                <p class="title">多钱包管理，专业智能</p>
                <div class="line"></div>
                <p class="detail">支持多钱包，轻松导入导出</p>
                <p class="detail">创建钱包，一步到位</p>
                <img src="/assets/images/wallet-list.png" alt="">
            </div>
            <img src="/assets/images/wallet-bg.png" class="bg" alt="">
        </section>
        <section class="wallet-import">
            <div class="bg"></div>
            <div class="content">
                <p class="title">安全可靠，方便快捷</p>
                <div class="line"></div>
                <p class="detail">私钥自持，安全无忧</p>
                <p class="detail">钱包导入，多种方式任意选择</p>
                <img src="/assets/images/wallet-import.png" alt="">
            </div>
        </section>
        <section class="newsletter-subscribe">
            <div class='content'>
                <p class="title">订阅电子报</p>
                <p class="detail">注册以接收更新和公告</p>
                <div class="register">注册</div>
            </div>
        </section>
        <section class="pupop-box">
            <div class="pupop-content">
                <div class="title">订阅电子报<img class="pup-close" src="/assets/images/newsletter-close.png" alt=""></div>
                <form>
                    <div class="email">
                        <p class="title">E-MAIL</p>
                        <input type="email" id="email" placeholder="请填写您的邮箱地址" required>
                        <p class="warning">请填写此必填字段。</p>
                        <p class="format-error">邮箱格式不正确，请重新填写。</p>
                    </div>
                    <div class="updata">
                        <input type="checkbox" id="updata" style="display: none;">
                        <label for="updata"></label>
                        <span>从NeoLine团队获取最新更新</span>
                        <p class="warning">请填写此必填字段。</p>
                        <p class="detail">您可以随时取消订阅这些通讯。 有关如何退订，我们的隐私惯例以及我们如何致力于保护和尊重您的隐私的更多信息，请查看我们的隐私政策。</p>
                    </div>
                </form>
                <button class="submit">提交</button>
            </div>
        </section>
        <footer>
            <div class="contact">
                <div class="wechat">
                    <div>
                        <img src="/assets/images/wechat-qcode.jpg" class="qcode" alt="">
                    </div>
                    <img src="/assets/images/wechat.png" alt="">
                </div>
                <a href="https://twitter.com/NEOLine20" target="_blank">
                    <img src="/assets/images/twitter.svg" alt="">
                </a>
                <a href="https://github.com/NeoNext" target="_blank">
                    <img src="/assets/images/github.png" alt="">
                </a>
            </div>
            <ul class="pc">
                <li>
                    <a href="https://neotube.io" target="_blank">
                        <span class="browser"></span>
                        区块浏览器
                    </a>
                </li>
                <li>
                    <a href="/tutorial" target="_blank">
                        <span class="install"></span>
                        NeoLine 安装说明
                    </a>
                </li>
                <li>
                    <a href="/dapi" target="_blank">
                        <span class="docs"></span>
                        dAPI 文档
                    </a>
                </li>
                <li class="language">
                    <img src="/assets/images/language.svg" alt="">
                    <div>
                        <a href="/en">English</a>
                        <span class="language"></span>
                        <a href="/">中文</a>
                    </div>
                </li>
            </ul>
            <ul class="mobile">
                <li>
                    <img src="/assets/images/browser.png" alt="">
                    <a href="https://neotube.io" target="_blank">区块浏览器</a>
                </li>
                <li>
                    <img src="/assets/images/install.png" alt="">
                    <a href="/tutorial" target="_blank"> NeoLine 安装说明</a>
                </li>
                <li>
                    <img src="/assets/images/docs.png" alt="">
                    <a href="/dapi" target="_blank">dAPI 文档</a>
                </li>
                <li>
                    <img src="/assets/images/language.svg" alt="">
                    <a href="/en">English</a>
                    <span class="language"></span>
                    <a href="/">中文</a>
                </li>
            </ul>
        </footer>
    </article>
    <section class="weixin-tip">
        <p>
            <img alt="微信打开" src="/assets/images/guide.png" />
        </p>
        <button>知道了</button>
    </section>
    <% if (htmlWebpackPlugin.options.metadata.isDevServer) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?401fb76b17a1ae239571dc7876b321ab";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>

</html>