* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    font-family: "Alibaba PuHuiTi", Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", sans-serif;
    height: 100%;
    width: 100%;
    min-height: 480px;
}

li {
    list-style: none;
}
